body {
  background: #f3f3f3;
}

nav {
  font-size: 15px;
  border-bottom: 1px solid #dfdfdf;
  padding: 0px 10px !important;
}

nav .container-fluid {
  max-width: 1440px;
}

.list-news-container > div {
  padding: 7px;
}

.news-card {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  max-width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.news-card .img-preview {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.news-card .content-preview {
  padding: 15px 15px 22px;
}

.news-card .content-preview .title {
  font-weight: bold;
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}

.news-card .content-preview .description {
  font-size: 14px;
  letter-spacing: 0.3px;
}

.news-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=app.css.map */