body {
    background: rgb(243, 243, 243);
}

nav {
    font-size: 15px;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 0px 10px!important;
    .container-fluid {
        max-width: 1440px;
        ;
    }
}

.list-news-container {
    >div {
        padding: 7px;
    }
}

.news-card {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    max-width: 100%;
    transition: all 0.2s ease;
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.09);

    .img-preview {
        height: 200px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .content-preview {
        padding: 15px 15px 22px;

        .title {
            font-weight: bold;
            font-size: 17px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
            letter-spacing: 0.3px;
        }

        .description {
            font-size: 14px;
            letter-spacing: 0.3px;
        }
    }

    &:hover {
        transform: scale(1.03);

        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    }
}